* {
    margin: 0;
    padding: 0;
  }
  
  .rain-container {
    position: relative;
    background: rgb(27, 25, 25);
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  i {
    position: absolute;
    height: 120px;
    border-radius: 0 0 999px 999px;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(-120px);
    }
    100% {
      transform: translateY(400px);
    }
  }
  
