body{
    background-image: url("./images/background3.jpg");
}
.button-container{
    display: flex ;

}

.container{
    width: 40%;
    margin-left: auto;
    margin-right:14%;
    margin-top: 5%;
}

button {
    padding: 15px;
    margin: 5px 15px 5px 1px;
}

.user-field{
    border: 1px solid black;
    width: 31%;
    padding: 15px 10px 15px 10px;
    background-color: olive;
}

#result{
    height: 50px;
    text-align: center;

}